<form action="/" method="post">
<textarea cols="40" rows="20" name="text"></textarea>
<br />
<select name="font">
  <% @fonts.each do |font| %>
    <option value="<%= font["code"] %>"><%= font["title"] %></option>
  <% end %>
<br />
<input type="submit" value="Pdf!">
</form>